## Loading libraries

In [1]:
%load_ext autoreload
%autoreload 2

In [82]:
import pandas as pd
import numpy as np
from external_modules.shuyu import *

In [3]:
airbnb_df =[]
for m in ['jan','feb','mar','apr','may','jun','jul','aug','sep','nov']:
    airbnb_df.append(pd.read_csv('data/listings_{}.csv'.format(m), parse_dates=['last_review']))

## Concat dateframes into one

In [4]:
airbnb_df_2019 = pd.concat(airbnb_df)

In [5]:
airbnb_df_2019

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,9554,"Cozy, 3 minutes to Piccadilly Line",31655,Guy,NaN,Haringey,51.587767,-0.105666,Private room,35,1,134,2019-01-01,1.64,4,0
1,25123,Clean big Room in London (Room 1),103583,Grace,NaN,Barnet,51.572243,-0.209060,Private room,29,15,118,2018-11-01,1.11,4,0
2,28010,LOVELY Dbl Bedroom in Shoreditch!,119316,Valentina,NaN,Tower Hamlets,51.524969,-0.073727,Private room,50,3,38,2018-01-02,0.48,3,81
3,33332,Twickenham Stadium & Wimbledon easy reach Ensuite,144444,Chi-Chi,NaN,Hounslow,51.465074,-0.324207,Private room,100,1,4,2018-11-04,0.04,2,365
4,36299,Kew Gardens 3BR house in cul-de-sac,155938,Geert,NaN,Richmond upon Thames,51.479345,-0.280662,Entire home/apt,195,3,63,2018-12-30,0.63,1,279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85063,38398365,Beautiful flat in Central London,24782379,Shabnam,NaN,Lambeth,51.486010,-0.127660,Entire home/apt,117,3,2,2019-11-04,2.00,1,59
85064,39869123,Elegant stylish modern house with amazing view!,21145791,Ingrid,NaN,Merton,51.406280,-0.232440,Private room,69,2,0,NaT,NaN,2,113
85065,39869214,Holland Road - Kensington Olympia,251922260,Christian,NaN,Hammersmith and Fulham,51.502440,-0.215470,Entire home/apt,90,3,0,NaT,NaN,4,63
85066,39869249,Functional single room 18 min to London Bridge,255372486,Nudrat,NaN,Bromley,51.357420,0.107640,Private room,30,2,0,NaT,NaN,4,1
85067,39869282,"EXQUISITE APARTMENT, PEACEFUL ENVIRONMENT IN SOHO",210531062,Radi,NaN,Westminster,51.510900,-0.124800,Entire home/apt,187,1,0,NaT,NaN,1,311

## Data cleaning and feature engineering

### check dtypes

In [6]:
airbnb_df_2019.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                      float64
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

### drop missing value columns

In [7]:
airbnb_df_2019.isnull().sum()

id                                     0
name                                 266
host_id                                0
host_name                            472
neighbourhood_group               817579
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                       203879
reviews_per_month                 203879
calculated_host_listings_count         0
availability_365                       0
dtype: int64

In [8]:
airbnb_df_2019.drop(['name','host_name','neighbourhood_group'], axis=1,inplace=True)

In [9]:
airbnb_df_2019.isnull().sum()

id                                     0
host_id                                0
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                       203879
reviews_per_month                 203879
calculated_host_listings_count         0
availability_365                       0
dtype: int64

### check catgorical variables

In [10]:
cat_var=[]
for column in airbnb_df_2019.columns:
    if airbnb_df_2019[column].dtype=='object':
        cat_var.append(column)

In [11]:
cat_var

['neighbourhood', 'room_type']

### change object dtypes to catgorical codes

In [18]:
train_cats(airbnb_df_2019)

In [19]:
airbnb_df_2019.dtypes

id                                         int64
host_id                                    int64
neighbourhood                           category
latitude                                 float64
longitude                                float64
room_type                               category
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

In [20]:
for _ in cat_var:
    airbnb_df_2019[_] = airbnb_df_2019[_].cat.codes

In [77]:
airbnb_df_2019.dtypes

id                                         int64
host_id                                    int64
neighbourhood                               int8
latitude                                 float64
longitude                                float64
room_type                                   int8
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

In [72]:
fix_missing(airbnb_df_2019,'reviews_per_month')

In [80]:
airbnb_df_2019['last_review'].dtypes == 'datetime64[ns]'

True

In [84]:
fix_missing_date(airbnb_df_2019, 'last_review')

In [85]:
airbnb_df_2019.isnull().sum()

id                                0
host_id                           0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [86]:
airbnb_df_2019.dtypes

id                                         int64
host_id                                    int64
neighbourhood                               int8
latitude                                 float64
longitude                                float64
room_type                                   int8
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

In [88]:
airbnb_df_2019

,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,9554,31655,13,51.587767,-0.105666,2,35,1,134,2019-01-01,1.64,4,0
1,25123,103583,1,51.572243,-0.209060,2,29,15,118,2018-11-01,1.11,4,0
2,28010,119316,29,51.524969,-0.073727,2,50,3,38,2018-01-02,0.48,3,81
3,33332,144444,17,51.465074,-0.324207,2,100,1,4,2018-11-04,0.04,2,365
4,36299,155938,26,51.479345,-0.280662,0,195,3,63,2018-12-30,0.63,1,279
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85063,38398365,24782379,21,51.486010,-0.127660,0,117,3,2,2019-11-04,2.00,1,59
85064,39869123,21145791,23,51.406280,-0.232440,2,69,2,0,2019-12-31,0.72,2,113
85065,39869214,251922260,12,51.502440,-0.215470,0,90,3,0,2019-12-31,0.72,4,63
85066,39869249,255372486,4,51.357420,0.107640,2,30,2,0,2019-12-31,0.72,4,1
85067,39869282,210531062,32,51.510900,-0.124800,0,187,1,0,2019-12-31,0.72,1,311

## Data visualization